# Welcome to Jupyter!

In [ ]:
This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

# You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook

# TUPLE VARIABLE

In [1]:
t=(1,2,3,4,5)

In [2]:
type(t)

tuple

In [4]:
t1=("sudh",345,34+78j,37.33,True)

In [5]:
l=["sudh",345,34+78j,37.33,True]

In [6]:
type(l)

list

tuple with close bracket but list with squre bracket.

# property of tuple

1.tuple slicing

In [9]:
t1

('sudh', 345, (34+78j), 37.33, True)

In [10]:
l[0:2]

['sudh', 345]

In [11]:
t1[0:2]

('sudh', 345)

for slicing operation we are suppose to use a square bracket just in terms of notations,to store the data.

2.reverse tuple

In [12]:
t1

('sudh', 345, (34+78j), 37.33, True)

In [13]:
t1[::-1]

(True, 37.33, (34+78j), 345, 'sudh')

3.

In [15]:
t1[-1]

True

In [16]:
t1

('sudh', 345, (34+78j), 37.33, True)

In [17]:
t1[0::2]

('sudh', (34+78j), True)

differnece btwn list and tuple

In [18]:
l

['sudh', 345, (34+78j), 37.33, True]

In [19]:
l[0]

'sudh'

In [20]:
l[0]="kumar"

In [21]:
l

['kumar', 345, (34+78j), 37.33, True]

In [22]:
t1

('sudh', 345, (34+78j), 37.33, True)

In [23]:
t1[0]

'sudh'

In [24]:
t1[0]="xyz"

TypeError: 'tuple' object does not support item assignment

list support item assignment but tuple  does not support item assignment.

tuple is imutable collections.

In [25]:
s="sudh"

In [26]:
s[0]="k"

TypeError: 'str' object does not support item assignment

string is also imutable collection.

In [27]:
t1

('sudh', 345, (34+78j), 37.33, True)

In [28]:
t2=(31,33,22,33.34,78+8j)

In [29]:
t1+t2

('sudh', 345, (34+78j), 37.33, True, 31, 33, 22, 33.34, (78+8j))

this operation iscalled as append operation.

In [30]:
l

['kumar', 345, (34+78j), 37.33, True]

In [31]:
l1=[31,33,32.23,32+8j,"ffw"]

In [32]:
l+l1

['kumar', 345, (34+78j), 37.33, True, 31, 33, 32.23, (32+8j), 'ffw']

append operation

In [33]:
t1*2

('sudh', 345, (34+78j), 37.33, True, 'sudh', 345, (34+78j), 37.33, True)

repeating same tuple twice.

In [34]:
t1

('sudh', 345, (34+78j), 37.33, True)

to find the inbulit funcns are avalible then just press tab.

t1.tab-gives the inbuilt fuctions.givs count and index fun only as it is imutable.

In [39]:
l

['kumar', 345, (34+78j), 37.33, True]

l.tab- inbuilt funcns

In [40]:
l.count("sudh")

0

In [41]:
t1.count("sudh")

1

count fun-no of occurance of particular element is a particular collection.

In [43]:
t1.index("sudh")

0

# when to use list and when to use tuple?

1.wherever we are looking for a kind of collection where someoneelse will not be able to perferm any kind of changes, there we use tuple.
exam-database operation
     when we acess data one by one from a database to our python jypeternotebook then it returns each and every elements in form of tuple.